@import "tailwindcss";

@theme {

  --color-cream-bg: #F2F0EA;
  --color-dark-green: #1A2F24;
  --color-sage-green: #8FA89B;


  --font-serif: var(--font-playfair); 
  --font-sans: var(--font-dm-sans);
}


body {
  background-color: var(--color-cream-bg);
  color: var(--color-dark-green);
}